* {
    box-sizing: border-box;
}
body {
    background-color: var(--body-bg-color);
    height: 100vh;
   
}
.container {
    
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
  
}
/*1º Caixa Principal Assing*/
.box {
    
    margin: 2.5rem auto 1.5rem;
}
.box > div {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: var(--bg-cards);
    color: var(--text-color);
}
/*Caixa Perfil*/
.box__profile {
    
    justify-content:space-evenly;
    align-items: center;
    
    width: 21.75rem;
    height: 18.25rem;
    display: flex;
    flex-direction: column;
}

.box__profile--img {
    
    width: 128px;
    height: 128px;
    border: 2px solid #00FF00;
    border-radius:100%;
}
.text__profile {
    text-align: center;
    line-height: 1.5rem;
}
.text__profile--title {
    font-size: 1.44rem;
    font-weight: 700;
    font-style: normal;
    
}
.text_profile--stack {
    font-size: 0.8rem;
    font-weight: 300;
}
/*Caixa LINK*/
.box__link {
    width: 21.75rem;
    height: 21.75rem;
    margin-top: 1.5rem ; 
    display: flex;
    
}
.box__link_list {
    padding: 30px 40px;
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box__link_list--icons {
    display: flex;
    align-items: center;
    gap: 20px; /*Espacamento */
    text-decoration: none;
    color: currentColor;

}
.box__link img {
    max-width: 20px;
    max-height: 20px;
}
.box__link_list p {
    font-size: 0.8rem;
    font-weight: 300;
}

/*Caixa Tecnologias*/
.box__technologies {
   
    width: 21.75rem;
    height: 13rem;
    margin-top: 1.5rem; 
    
}
.box__technologies_stacks {
    padding: 30px 20px;
   
   
}
.box__technologies_stacks h2 {
    margin-bottom: 26px;
    font-size: 1.25rem;
}
.box__technologies_tools {
    display: grid;
    grid-template-areas: 
        "g1 g1 g1"
        "g2 g2 g2"
        "g3 g3 g3"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    
    gap: 15px;
         
}

.box__technologies_tools p {
    font-size: 0.625rem;
    text-align: center;
    color: black;
    font-weight: 700;
}
.background_techs {
    background-color: var(--bg-techs);
    border-radius: 30px;
    padding: 8px 18.57px;
    
}

/*Exepriências*/
.box__experiences {
   
    width: 21.75rem;
    height: 21.813rem;
    margin-top: 1.5rem; 
        
}
.box__experiences_skill {
        padding: 30px 20px;
       
}
.box__experiences h2 {
    margin-bottom: 26px;
    font-size: 1.25rem;
}
.box__experiences--list {
    display: grid;
    gap: 18px;
    font-size: 0.875rem;
    font-weight: 700;
    
    list-style:disc;
    margin: 22px 40px 30px 40px;
}
.box__experiences--list li {
    line-height: 15px;
}
.box__experiences--list p {
    font-size: 0.75rem;
    font-weight: 300;
    
}
.box__experiences--list h4 {
    font-size: 0.75rem;
    font-weight: 400;
}
/*Caixa Educação*/
.box__education {
   
    width: 21.75rem;
    height: 22rem;
    margin-top: 1.5rem; 
}
/*Reproveitamento de Código da Box Experiências*/
/*Segunda Caixa Principal Sessão*/
.container2 {
    margin: 2.5rem auto 1.5rem;
   
}

.container2__myproject {
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    width: 59.5rem;
    height: 5.375rem;
    margin-bottom: 1.5rem;
}
.container2__myproject h2 {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 700;
}
.container2__myproject_link {
    text-decoration: none;
}
.container2__myproject p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-color);
    
    
}
.container2__box {
    display: flex;
    justify-content:space-between;
    
}
/*Caixa Projetos*/

.container2__project1 {
    background-color: var(--bg-cards);
    width: 26rem;
    height: 11.625rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
}
.container2__project1_folder  {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 30px;
    color: var(--text-color);
}

.container2__project1_folder p {
    font-size: 1rem;
    font-weight: 700;
}
.container2__project1_text {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 10px 0 30px;
    line-height: 20px;
}
.container2__project1_grup1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 30px;
}
.container2_project1_list {
    display: flex;
    gap: 16px;
    /* margin: 20px auto 30px 30px; */
}
/* .container2__project_grup2 {
    display: flex;
} */
.projetct1__grup1 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    color: var(--text-color);
}
.container2__project2 {
    background-color: var(--bg-cards);
    width: 28.813rem;
    height: 11.625rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
}
.container2__recent_post {
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
    width: 59.5rem;
    height: 5.375rem;  
    margin-top: 1.5rem; 
}
.container2__recent_post h2 {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 700;
}
.container2__post {
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px 0px 42px 30px;
    width: 59.5rem;
    height: 12.563rem;
    margin-top: 1.5rem;
}
.container2__post_box {
    display: flex;
    gap: 20px;
  
    

}
.container2__post_profile--img {
  
  width: 128px;
  height: 128px;
 
  
}
.container2__post_profile--boxtext1 {
    display: flex;
    /* align-items: stretch; */
    justify-content: space-between;
   
    line-height: 22.63px;
    flex-direction: column;
    color: var(--text-color);
}
.container2__post_profile--boxtext1 h2 {
    font-weight: 700;
    font-size: 1.125rem;
}
.container2__post_profile--boxtext1 h3 {
    font-weight: 400;
    font-size: 1rem;
}
.container2__post_p1 {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 11px;
   
}
.container2__post_profile_list {
    display: flex;
    gap: 23px;
    font-size: 0.875rem;
}
